*
{
    margin: 0;
    padding: 0;
    font: 'San Francisco', Helvetica, Arial, san-serif;
}
.header 
{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* First Section Detailing */
nav 
{
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
}
nav img 
{
    width: 20px;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li 
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    padding: 0px 10px;
    position: relative;
}
.nav-links ul li a 
{
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li a:hover,
.nav-links ul li a.active{
    color: #fff;  
}
.phone
{
  position: absolute;
  align-items: center;
  top: 300px;
  left: 400px;
}
.phone .animm 
{
  width: 600px;
}

.text-box 
{
    width: 50%;
    color: #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1 
{
   font-size: 62px;
}
.text-box p 
{
    margin: 10px 0 40px;
    font-size: 35px;
    color: #fff;
}
.text-box p.anim 
{
    animation-delay: 0.4s;
}

.anim 
{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup
{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*  Dynamic Island Section */

.island 
{
  min-height: 100vh;
  background-color: black;
}

.view 
{
  position: absolute;
  top: 1388px;
  left: 860px;
  z-index: 1;
}
.view .music 
{
  height: 250px;
}
.view1
{
  position: absolute;
  top: 1188px;
  left: 950px;
}
.view1 .call
{
  height: 450px;
  padding-right: 50px;
  z-index: -1;
}
.view2
{
  position: absolute;
  top: 1188px;
  left: 874px;
}
.view2 .other
{
  height: 300px;
  padding-left: 280px;
  padding-top: 150px;
}

/* Text Dynamic Island*/
.text 
{
    width: 50%;
    color: #fff;
    position: absolute;
    top: 1100px;
    left: 200px;
}
.text h2 
{
  font-size: 100px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}
.text p 
{
  font-size: 20px;
}
/* .effect
{
  height: 100vh;
  padding-top: 300px;
  padding-left: 80px;
  background: #000 ;
}
.canvas 
{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 400px;
} */
.display 
{
  min-height: 100vh;
  background-color: black;
}
.text1 
{
  width: 50%;
  color: #fff;
  position: absolute;
  top: 1850px;
  left: 450px;
}
.text1 h3
{
  font-size: 150px;
  padding-right: 50px;
  color: #FFCC00;
  
}
.text1 p 
{
  font-size: 25px;
  color: #fff;
}

.iphone-d
{
  position: absolute;
  top: 2100px;
  left: 300px;
}
.iphone-d .dd
{
  width: 800px;
}
.section4 
{
  min-height: 100vh;
  background-color: black;
}
.crash 
{
  position: absolute;
  margin-top: 120px;
  margin-left: 300px;
}
.crash .cr 
{
  height: 650px;
}
.crash-text 
{
  width: 50%;
  color: #fff;
  position: absolute;
  margin-top: 170px;
  margin-left: 650px;
}
.crash-text h4 
{
  font-size: 70px;
}
.crash-text p 
{
  font-size: 40px;
  padding-top: 20px;
}
.section6 
{
  min-height: 100vh;
  background-color: black;
}
.bionic
{
  position: absolute;
  margin-top: 150px;
  margin-left: 990px;
}
.bionic .bi 
{
  height: 600px;
}
.ib-text 
{
  width: 50%;
  color: #fff;
  position: absolute;
  margin-top: 100px;
  margin-left: 400px;
}

.ib-text h6 
{
  font-size: 90px;
  padding-top: 100px;
}
.ib-text p 
{
  font-size: 30px;
  padding-top: 10px;
}

.section5 
{
  min-height: 150vh;
  background-color: black;
}
.itself 
{
  position: absolute;
  margin-top: 400px;
  margin-left: 320px;
}
.itself .it 
{
  width: 1100px;
}
.itself-text
{
  width: 50%;
  color: #fff;
  position: absolute;
  margin-left: 300px;
  margin-top: 200px;
}
.itself-text h5 
{
  font-size: 70px;
  padding-left: 50px;
}
.itself-text2 
{
  width: 50%;
  color: #fff;
  position: absolute;
  margin-top: 220px;
  margin-left: 500px;
}
.itself-text2 p
{
  font-size: 30px;
  padding-left: 280px;
}
.itself-text3 
{
  width: 20%;
  color: #fff;
  position: absolute;
  margin-top: 950px;
  margin-left: 600px;
}
.itself-text3 p 
{
  font-size: 30px;
}
.itself-text4 
{
  width: 20%;
  color: #fff;
  position: absolute;
  margin-top: 1000px;
  margin-left: 600px;
}
.itself-text4 p 
{
  font-size: 40px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section7 
{
  min-height: 130vh;
  background: black;
}
.text-ph 
{
  width: 50%;
  color: white;
  position: absolute;
  margin-left: 400px;
}
.text-ph p 
{
  font-size: 80px;
  color: white;
}
.photos 
{
  display: flex;
  justify-content: space-between;
  padding-top: 190px;
  margin-left: 60px;
}
.photoss 
{
  flex-basis: 31%;
  padding: 20px 12px;
}
.ph1
{
   height: 500px;
}
.ph2
{
  height: 500px;
}
.ph3 
{
  height: 500px;
}
.text-PH
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 30px;
  margin-left: 150px;
}
.text-PH h5 
{
  color: gray;
  font-size: 30px;
}
.text-PH p 
{
  padding-top: 10px;
  font-size: 40px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-ph1-1 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 180px;
  margin-left: 150px;
}
.text-ph1-1  p 
{
  color: gray;
  font-size: 30px;
}
.text-ph2 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 30px;
  margin-left: 600px;
}
.text-ph2 h5 
{
  color: gray;
  font-size: 30px;
}
.text-ph2 p 
{
  padding-top: 10px;
  font-size: 40px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-ph2-2 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 180px;
  margin-left: 600px;
}
.text-ph2-2  p
{
  color: gray;
  font-size: 30px;
}

.text-ph3 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 30px;
  margin-left: 1000px;
}
.text-ph3 h5 
{
  color: gray;
  font-size: 30px;
}
.text-ph3 p 
{
  padding-top: 10px;
  font-size: 40px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-ph3-3 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 180px;
  margin-left: 1000px;
}
.text-ph3-3  p
{
  color: gray;
  font-size: 30px;
}
.section8 
{
  min-height: 130vh;
  background: black;
}
.textph 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 180px;
  margin-left: 200px;
}
.textph h4
{
  font-size: 25px;
}
.textph p 
{
  padding-top: 10px;
  color: gray;
  font-size: 15px;
}

.textph2 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 90px;
  margin-left: 580px;
}
.textph2  h4
{
  font-size: 25px;
}
.textph2 p 
{
  color: gray;
  font-size: 15px;
  padding-top: 10px;
}
.textph3 
{
  width: 20%;
  color: white;
  position: absolute;
  margin-top: 180px;
  margin-left: 1020px;
}
.textph3 h4 
{
  font-size: 25px;
}
.textph3 p 
{
  color: gray;
  font-size: 15px;
  padding-top: 10px;
}

.camera 
{
  position: absolute;
  margin-top: 400px;
  margin-left: 70px;
}
.camera .cam 
{
   width: 1300px;
}
.section9 
{
  min-height: 130vh;
  background: black;
}
.color 
{
  position: absolute;
  margin-top: 1850px;
  margin-left: 500px;
}
.color .design 
{
  height: 800px;
}
.color1
 {
  width: 20%;
  position: absolute;
  margin-top: 2100px;
  margin-left: 900px;
}
.color1 a 
{
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.color2
 {
  width: 20%;
  position: absolute;
  margin-top: 2150px;
  margin-left: 900px;
}
.color2 a 
{
  color: gray;
  font-size: 25px;
  text-decoration: none;
}
.color2 a:hover 
{
  color: white;
}

.color3
 {
  width: 20%;
  position: absolute;
  margin-top: 2200px;
  margin-left: 900px;
}
.color3 a 
{
  color: gray;
  font-size: 25px;
  text-decoration: none;
}
.color3 a:hover 
{
  color: white;
}

.color4
 {
  width: 20%;
  position: absolute;
  margin-top: 2250px;
  margin-left: 900px;
}
.color4 a 
{
  color: gray;
  font-size: 25px;
  text-decoration: none;
}
.color4 a:hover 
{
  color: white;
}
.section10 
{
  min-height: 190vh;
  background: black;
}
.video 
{
  position: absolute;
  margin-top: 340px;
}
.videotext 
{
  position: absolute;
  color: white;
  margin-bottom: 20px;
}
.videotext h1
{
  font-size: 70px;
  margin-bottom: 50px;
  margin-left: 400px;
}
.videotext p 
{
  font-size: 30px;
  margin-left: 800px;
}

.videotext2 
{
  position: absolute;
  color: white;
  margin-top: 1250px;
  margin-left: 300px;
}
.videotext2 h1 
{
  font-size: 30px;
}
.videotext3 
{
  position: absolute;
  color: white;
  margin-top: 1250px;
  margin-left: 800px;
}
.videotext3 h1 
{
  font-size: 40px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.videotext3 p
{
  font-size: 30px;
  color: gray;
}
.btn 
{
  margin-top: 10px;
  margin-left: 600px;
}
button 
{
  font-size: 15px;
  color: blue;
  appearance: none;
  background: none;
  border: none;
  margin-left: 20px;
  cursor: pointer;
}

.section11 
{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/iPhone-14-advertising-image-wallpaper-from-@sebastienpage.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.gr-text 
{
  position: absolute;
  color: white;
  margin-top: 80px;
  margin-left: 300px;
}
.gr-text h1 
{
  font-size: 190px;
  color: black;
  font-weight: bold;
}
.gr-text p 
{
  font-size: 40px;
  color: black;
  padding-top: 10px;
  font-weight: bold;
}
.gr-text1
{
  position: absolute;
  color: white;
  margin-top: 600px;
  margin-left: 300px;
}
.gr-text1 p 
{
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.learn-more 
{
  position: absolute;
  justify-content: space-between;
  color: white;
  margin-top: 660px;
  margin-left: 280px;
}
.learn-more a 
{
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
}
.learn-more a:hover 
{
  text-decoration: underline;
  height: 1px;
}

/* Air Pods Pro */

.air-text 
{
  position: absolute;
  color: white;
  margin-top: 200px;
  margin-left: 250px;
}
.air-text p 
{
  font-size: 40px;
  color: rgb(32, 255, 3);
  padding-left: 350px;
}
.air-text h3
{
  font-size: 170px;
  font-weight: bold;
}
.learn-more-p 
{
  position: absolute;
  justify-content: space-between;
  color: white;
  margin-top: 600px;
  margin-left: 450px;
}
.learn-more-p a 
{
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
}
.learn-more-p a:hover 
{
  text-decoration: underline;
  height: 1px;
}
.airpodspro 
{
  position: absolute;
  margin-top: 150px;
  margin-left: 20px;
}
.airpodspro .airpro 
{
  width: 200px;
}
.airpodspro2 
{
  position: absolute;
  margin-top: 150px;
  margin-left: 1200px;
}
.airpodspro2 .airpro2
{
  width: 200px;
}

.section12 
{
  min-height: 100vh;
  background-color: black;
}

.videoo 
{
  position: absolute;
  margin-top: 80px;
  margin-left: 50px;
}
.videotextpro 
{
  position: absolute;
  color: gray;
  margin-top: 250px;
  margin-left: 620px;
}
.videotextpro  h1 
{
  font-size: 40px;
}
.videotextpro h1 span 
{
  color: rgb(32, 255, 3);
}
.section13 
{
  min-height: 100vh;
  background: black;
}
.rengenpro 
{
  position: absolute;
  margin-top: 100px;
  margin-left: 900px;
}
.rengenpro  .audio 
{
  height: 500px;
}
.textaudio 
{
  position: absolute;
  color: gray;
  margin-top: 150px;
  margin-left: 120px;
}
.textaudio  h1 
{
  font-size: 40px;
}
.textaudio  h1  span 
{
  color: rgb(32, 255, 3);
}
.section14 
{
  min-height: 100vh;
  background: black;
}
.spaudio
{
  position: absolute;
  margin-top: 200px;
  margin-left: 200px;
}
.spaudio .sp 
{
  width: 1000px;
}
.sptext 
{
  position: absolute;
  color: white;
  margin-top: 80px;
  margin-left: 450px;
}
.sptext  h1
{
  font-size: 80px;
  color: rgb(32, 255, 3);
}
.section15 
{
  min-height: 100vh;
  background: black;
}
.case 
{
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;
}
.case .case1 
{
   width: 400px;
}
.casetext 
{
  position: absolute;
  color: gray;
  margin-top: 600px;
  margin-left: 540px;
}
.casetext h1 
{
  font-size: 20px;
}
.casetext h1 span 
{
  color: rgb(32, 255, 3);
}

.section16 
{
  min-height: 100vh;
  background: black;
}
.case2
{
  position: absolute;
  margin-top: 100px;
  margin-left: 500px;
}
.casee2
{
  width: 400px;
}
.section17 
{
  min-height: 100vh;
  background: black;
}
.case3 
{
  position: absolute;
  margin-top: 10px;
  margin-left: 600px;
}
.case3 .casee3
{
  height: 400px;
}
.casetext2 
{
  position: absolute;
  color: gray;
  margin-top: 100px;
  margin-left: 850px
}
.casetext2  h1 
{
  font-size: 25px;
}
.casetext2 h1 span 
{
  color: white;
}
.section18
{
  min-height: 100vh;
  background: black;
}
.case4 
{
  position: absolute;
  margin-top: 10px;
  margin-left: 500px;
}
.case4 .casee4 
{
  width: 400px;
}
.casetext3 
{
  position: absolute;
  color: gray;
  margin-top: 200px;
  margin-left: 800px;
}
.casetext3 h1 
{
  font-size: 25px;
}
.casetext3 h1 span 
{
  color: rgb(32, 255, 3);
}

/* MacBook Pro 13 */

.macbook 
{
  position: absolute;
  margin-top: 80px;
  margin-left: 220px;
}
.macbook .mcb 
{
  width: 1000px;
}
.mac-text 
{
  position: absolute;
  color: white;
  margin-top: 550px;
  margin-left: 480px;
}
.mac-text h1 
{
  font-size: 50px;
  padding-left: 80px;
}
.mac-text p 
{
  color: silver;
  font-weight: bold;
  font-size: 80px;
  padding-top: 10px;
}
.section19
{
  min-height: 180vh;
  background: black;
}
.mac-textt 
{
  position: absolute;
  color: white;
  margin-top: 20px;
  margin-left: 150px;
}
.mac-textt p 
{
   font-size: 40px;
   font-weight: bold;
}
.super 
{
  position: absolute;
  margin-top: 300px;
  margin-left: 840px;
}
.super .sup 
{
  height: 100px;
}
.super-text 
{
  position: absolute;
  color: white;
  margin-top: 320px;
  margin-left: 460px;
}
.super-text h3 
{
   font-size: 50px;
}
.price-text 
{
  position: absolute;
  color: white;
  margin-top: 450px;
  margin-left: 500px;
}
.price-text h1 
{
   font-size: 25px;
}
.watch-event 
{
  position: absolute;
  color: white;
  margin-top: 450px;
  margin-left: 700px;
}
.watch-event a 
{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.watch-event a:hover 
{
  text-decoration: underline;
}
.level 
{
  position: absolute;
  color: white;
  margin-top: 800px;
  margin-left: 570px;
}
.level h3 
{
  font-size: 70px;
}
.levell 
{
  position: absolute;
  margin-top: 900px;
  margin-left: 450px;
}
.levell .lev 
{
   height: 500px;
}
.section20 
{
  min-height: 100vh;
  background: black;
}
.m2-text 
{
  position: absolute;
  color: white;
  margin-left: 290px;
}
.m2-text h1 
{
   font-size: 25px;
}
.m2-textt 
{
  position: absolute;
  margin-top: 200px;
  margin-left: 500px;
}
.m2-textt .tex 
{
  width: 400px;
}
.inside-m2 
{
  position: absolute;
  margin-top: 350px;
  margin-left: 560px;
}
.inside-m2 .glow-on-hover
{
    display: inline-block;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: black; 
    cursor: pointer;
    position: relative;
    z-index: 0;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background: black;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.section21 
{
  min-height: 180vh;
  background: black;
}
.chip-text 
{
  position: absolute;
  color: white;
  margin-top: 50px;
  margin-left: 100px;
}
.chip-text h1 
{
  color: white;
  font-size: 80px;
}
.chip-text p 
{
  color: gray;
  font-size: 25px;
  padding-top: 20px;
}
.m2-1 
{
  position: absolute;
  margin-top: 700px;
  margin-left: 100px;

}
.m2-11 
{
  width: 900px;
}
.section22
{
  min-height: 100vh;
  background: black;
}
.m2-2
{
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
}
.m2-22 
{
  width: 1200px;
}

.section23 
{
  min-height: 190vh;
  background: black;
}
.m3-3
{
  position: absolute;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
}
.m3-3 h1 
{
   font-size: 40px;
}
.m3-3 p 
{
  color: gray;
  padding-top: 20px;
  font-size: 25px;
}
.m4-4 
{
  position: absolute;
  color: white;
  margin-top: 500px;
  margin-left: 100px;
}
.m4-4 h1 
{
  font-size: 40px;
}
.m4-4 p 
{
  color: gray;
  padding-top: 20px;
  font-size: 25px;
}
.m5-5 
{
  position: absolute;
  margin-top: 800px;
  margin-left: 100px;
}
.m5-55
{
  width: 900px;
}

/*CLOSE BUTTON  */
.close 
{
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
}
.close-btn 
{
  width: 60px;
}

.section24 
{
  min-height: 190vh;
  background: black;
}
.m6-6
{
  position: absolute;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
}
.m6-6 h1 
{
  font-size: 40px;
}
.m6-6 p 
{
  color: gray;
  padding-top: 20px;
  font-size: 25px;
}

.m7-7
{
  position: absolute;
  color: white;
  margin-top: 500px;
  margin-left: 100px;
}
.m7-7 h1 
{
  font-size: 40px;
}
.m7-7 p 
{
  color: gray;
  padding-top: 20px;
  font-size: 25px;
}
.m8-8
{
  position: absolute;
  margin-top: 800px;
  margin-left: 100px;
}
.m8-88 
{
  width: 900px;
}
.section25 
{
  min-height: 180vh;
  background: black;
}
.retina-text 
{
  position: absolute;
  color: white;
  margin-left: 200px;
}
.retina-text h1
{
   font-size: 80px;
}
.retina-text h1 span 
{
  color: gray;
  font-size: 80px;
}
.retina-text p 
{
  font-size: 30px;
  padding-top: 10px;
  color: gray;
}
.retina-photo 
{
  position: absolute;
  margin-top: 550px;
  margin-left: 100px;
}
.ret 
{
  width: 1200px;
}
.section26
{
  min-height: 100vh;
  background: black;
}
.br-photo 
{
  position: absolute;
  margin-left: 10px;
}
.br 
{
  width: 1400px;
}

.section27
{
  min-height: 180vh;
  background: black;
}
.collage 
{
  position: absolute;
  margin-left: 15px;
}
.coll 
{
  width: 1400px;
}
.collage-1 
{
  position: absolute;
  margin-top: 740px;
  margin-left: 15px;
}
.coll1 
{
  width: 1400px;
}
.section28
{
  min-height: 250vh;
  background: black;
}
.camer-text 
{
  position: absolute;
  color: white;
  margin-top: 50px;
  margin-left: 200px;
}
.camer-text h1 
{
  font-size: 70px;
}
.camer-text h1 span 
{
  color: gray;

}
.camer-text p 
{
  font-size: 30px;
  padding-top: 10px;
  color: gray;
}
.camer-pic 
{
  position: absolute;
  margin-top: 525px;
  margin-left: 100px;
}
.cpic 
{
  width: 1200px;
}
.camera-pic2
{
  position: absolute;
  margin-top: 1200px;
  margin-left: 10px;
}
.cpic2 
{
  width: 1400px;
}
.section29 
{
  height: 150vh;
  background: black;
}
.keyboard 
{
  position: absolute;
  color: white;
  margin-top: 200px;
  margin-left:  150px;
}
.keyboard h1 
{
  font-size: 70px;
}
.keyboard h1 span 
{
  color: gray;
  font-size: 70px;
}
.keyboard p 
{
  color: gray;
  font-size: 30px;
  padding-top: 20px;
}
.megic 
{
  position: absolute;
  margin-top: 600px;
  margin-left: 100px;
}
.megicc 
{
  width: 1200px;
}
.section30 
{
  min-height: 100vh;
  background: black;
}
.connect-text 
{
  position: absolute;
  color: white;
  margin-top: 300px;
  margin-left: 150px;
}
.connect-text h1 
{
  font-size: 70px;
  color: white;
}
.connect-text h1 span 
{
  font-size: 70px;
  color: gray;
}
.connect-img 
{
  position: absolute;
  margin-top: 615px;
  margin-left: 0px;
}
.connect 
{
  width: 1425px;
}
.section31 
{
  min-height: 110vh;
  background: black;
}
.blockk
{
  position: absolute;
  margin-left: 12px;
}
.blockk2
{
  width: 1400px;
}


/* Apple Watch Block  */ 
.headerr
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 1, 0.7)),url(images/06.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* First Section Detailing */
nav 
{
    display: flex;
    padding: 2% 10%;
    justify-content: space-between;
    align-items: center;
}
nav img 
{
    width: 20px;
}
.nav-linkss
{
    flex: 1;
    text-align: right;
}
.nav-linkss ul li 
{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    padding: 0px 10px;
    position: relative;
}
.nav-linkss ul li a 
{
    color: gray;
    text-decoration: none;
    font-size: 15px;
}
.nav-linkss ul li a:hover,
.nav-linkss ul li a.active{
    color: #fff;  
}

.text-watch 
{
  position: absolute;
  color: white;
  margin-top: 250px;
  margin-left: 520px;
}
.text-watch h1 
{
  color: white;
  font-size: 50px;
  padding-left: 100px;
}
.text-watch h2 
{
  color: red;
  font-size: 20px;
  padding-left: 150px;
}
.text-watch2 
{
  position: absolute;
  color: white;
  margin-top: 350px;
  margin-left: 380px;
}

.text-watch2 p 
{
  font-size: 80px;
  font-weight: bold;
}

.section32 
{
  min-height: 100vh;
  background-color: black;
}
.watch1
{
  position: absolute;
  margin-top: 194px;
  margin-left: 200px;
}
.watch11
{
  width: 1000px;
}
.section33
{
  min-height: 100vh;
  background: black;
}
.watch-text3
{
  position: absolute;
  color: gray;
  margin-top: 80px;
  margin-left: 150px;
}
.watch-text3 h1 
{
 font-size: 60px;
}
.section34 
{
  min-height: 180vh;
  background: black;
}
.watch-text4 
{
  position: absolute;
  color: white;
  margin-top: 900px;
  margin-left: 150px;
}
.watch-text4 p 
{
  font-size: 25px;
  padding-bottom: 20px;
}
.watch-text4 h1 
{
  font-size: 70px;
}
.watch2 
{
  position: absolute;
  margin-left: 425px;
}
.watch12
{
  width: 1000px;
}

.section35 
{
  min-height: 120vh;
  background: black;
}
.watch3 
{
  position: absolute;
  margin-top: 550px;
}
.watch13 
{
  width: 1400px;
}
.watch-text5 
{
  position: absolute;
  color: gray;
  margin-top: 300px;
  margin-left: 700px;
}
.watch-text5 h1 
{
   font-size: 20px;
}
.watch-text5 h1 span 
{
  font-size: 20px;
  color: white;
}
.section36
{
  min-height: 80vh;
}
.watch4 
{
  position: absolute;
}
.watch14 
{
  width: 1425px;
}
.section37 
{
  min-height: 180vh;
  background: whitesmoke;
}
.watch5 
{
  position: absolute;
  margin-top: 300px;
  margin-left: 350px;
}
.watch15
{
  width: 800px;
}
.watch-text6 
{
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
  color: black;
}
.watch-text6 h1 
{
  font-size: 40px;
}
.watch-text7 
{
  position: absolute;
  color: black;
  margin-top: 1200px;
  margin-left: 100px;
}
.watch-text7 p 
{
  font-size: 25px;
  font-weight: bold;
}
.seection38
{
  min-height: 150vh;
  background: whitesmoke;
}
.watch6 
{
  position: absolute;
  margin-top: 100px;
  margin-left: 200px;
}
.watch16 
{
  width: 1000px;
}

.watch7 
{
   position: absolute;
   margin-left: 200px;
   margin-top: 750px;
}
.watch17 
{
  width: 1000px;
}
.section39 
{
  min-height: 150vh;
  background: whitesmoke;
}
.watch8 
{
  position: absolute;
  margin-top: 245px;
  margin-left: 425px;
}
.watch18 
{
  width: 1000px;
}
.watch-text8 
{
  position: absolute;
  margin-top: 600px;
  margin-left: 50px;
}
.watch-text8 h1 

{
  font-size: 50px;
  color: black;
}
.watch-text8 p
{
  color: gray;
  padding-top: 10px;
  font-size: 20px;
}
.section40 
{
  min-height: 180vh;
  background: white;
}
.watch9 
{
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
}
.watch19
{
  width: 1200px;
}
.watch10 
{
  position: absolute;
  margin-top: 570px;
  margin-left: 100px;
}
.watch20 
{
  width: 1200px;
}

.section41 
{
  min-height: 150vh;
  background-image: url(images/27.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.watch-text9 
{
  position: absolute;
  color: white;
  margin-top: 700px;
  margin-left: 600px;
}
.watch-text9 h1 
{
  font-size: 40px;
}
.watch-text10 
{
  position: absolute;
  color: white;
  margin-top: 760px;
  margin-left: 600px;
}
.watch-text10 p 
{
  font-size: 70px;
  font-weight: bold;
}


/* IPAD PAGE */
.ipad 
{
  position: absolute;
  margin-top: 100px;
  margin-left: 220px;
}

.ipad1 
{
  width: 1000px;
}

.section42
{
  min-height: 150vh;
  background: black;
}
#myVideo2 {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

.ipad-text 
{
  position: absolute;
  color: white;
  margin-top: 200px;
  margin-left: 400px;
}
.ipad-text h1 
{
  font-size: 100px;
  background: linear-gradient(to left bottom, #051937, #152a6b, #45369e, #8535ca, #cf12eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ipad-text p 
{
  font-size: 50px;
  padding-top: 10px;
  padding-left: 80px;
}
.ipad-text p span 
{
  font-size: 50px;
  padding-left: 40px;
}

.section43 
{
  min-height: 140vh;
  background: black;
}
.ipad2 
{
  position: absolute;
  margin-left: 300px;
  margin-top: 150px;
}
.ipad-text2 
{
  position: absolute;
  color: white;
  margin-left: 100px;
}
.ipad-text2 h1 
{
  font-size: 50px;
}
.ipad-text2 h1 span 
{
  font-size: 50px;
  background-image: linear-gradient(125deg, green, orange, hotpink, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}